body {
    margin: 0;
    background-color: #F6F7F8;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.logowhite {
    width: 200px;
    animation-fill-mode: forwards;
    position: absolute;
}

.startcontainer {
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: -5;
    opacity: 0;
    background-color:  #2A3647;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-fill-mode: forwards;
}


/*
  header
*/

.sidebar-color-black {
    background-color: black!important;
}
.joinlogo {
    width: 100px;
    position: absolute;
    left: 77px;
    top: 80px;
    animation: 3s moveLogo;
    animation-fill-mode: forwards;
    animation: 5s opacity;
}

/*
  header
*/

/*
 maincontainer
*/

form {
    align-items: center;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 274px;
    width: 100%;
    animation: 5s opacity;
}

.forgotpwtext {
    font-size: 21px;
    text-align: center;
}
.login {
    background-color: #FFFFFF;
    width: 60%;
    height: 500px;
    border-radius: 30px;
    box-shadow: 0px 0px 14px 3px #0000000A;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login {
    display: flex;
    flex-direction: column;
}
.heading {
    text-align: center;
    font-size: 61px;
    font-weight: bold;
    padding-top: 25px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.arrowleft {
    justify-content: center;
    width: 37px;
    cursor: pointer;
    position: absolute;
    display: flex;
    left: 21%;
    top:  17%;

}

.blueline {
    margin-top: 10px;
    height: 3px;
    width: 150px;
    background-color: #29ABE2;
}

.forgotpwcenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  

}

input {
    width: 100%;
    color: #D1D1D1!important;
}

.email {
    width: 70%;
    display: flex;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    margin-bottom: 29px;
    align-items: center;
}

.password {
    width: 70%;
}

#inputmail {
    margin-left: 20px;
    border: none;
    height: 40px;
    outline: none;
    font-size: 21px;
}

input {
    color: #091931!important;
}



#inputpassword {
    margin-left: 20px;
    border: none;
    height: 40px;
    outline: none;
    font-size: 21px;
}


.imgmail {
    padding-right: 20px;
    height: 25px;
}

.imglock {
    padding-right: 23px;
    height: 30px;
}


.rememberme {
    display: flex;
    white-space: nowrap;
    gap: 35px;
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
}

#checkbox{
 width: 20px;
 height: 20px;
  background-color:  #D1D1D1;
  border-radius: 3px;
}

#forgotpw {
    color: #29ABE2;
}
.bottombuttons{
    display: flex;
    gap: 35px;
}

.loginbutton {
    height: 51px;
    width: 125px;
    background-color: #2A3647;
    color: white;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 25px;
}

.guestbutton {
    width: 110px;
    border: 1px solid black;
    height: 51px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    color: black;

}

.guestbutton:hover {
    cursor: pointer;
    background-color: #29ABE2;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.1);
}

::placeholder {
    color: #D1D1D1;
}

a{
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
}

/*
 maincontainer
*/

/*
 media query
*/

@media  (max-width: 1200px) {
    .joinlogo {
      display: none;
    }
  
  .signuptop {
    top: 650px;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 50%);
    width: fit-content;
  }

  .arrowleft {
    left: 21%;
    top:  17%;
}
}


  @media only screen and (max-width: 1050px) {
    .login {
        width: 60%;
    }
  }


  @media only screen and (max-width: 700px) {
    .login {
        width: 80%;
        height: 80%;
    }
    .maincontainer {
        position: fixed;
        top: 0;
        height: 90%;
    }
    .arrowleft {
        left: 12%;
        top:  11%;
    }
  }

  @media only screen and (max-width: 500px) {
        .login {
            width: 100%;
        }
        .arrowleft {
            left:5%;
            top:  0.5%;
        }

        .rememberme {
            gap: 10px;
        }
        .maincontainer {
            height: 90%;
        }
        .login {
            height: 100%;
        }

        .signuptop {
            top: 560px;
        }

  }

  /*
 media query
*/