<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/header.css">
    <script src="js/script.js"></script>
    <title>Document</title>
</head>

<body>
    <div class="projectheader">
        <img class="join-logo-mobile-header" src="assets/img/logo_dark.png" alt="logo_dark">
        <span class="headspan">Kanban Project Management Tool</span>
        <div class="author">
            <a href="help.html" target="_self">
                <img class="questionimg" src="assets/img/question.png">
            </a>
            <img onclick="showMenu()" id="michael" src="assets/img/michael.jpg">
        </div>
    </div>
</body>

</html>