<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/fonts.css">
    <link rel="stylesheet" href="css/menu.css">
</head>

<body>

    <nav id="menu" class="menu-container-d-none hide-overlay-menu">
        <div class="menu-container">
            <a class="menu-link" href="index.html">
                <span class="menu-button">Logout</span>
            </a>
            <a id="helpsidebar" class="menu-link" href="help.html">
                <span class="menu-button">Help</span>
            </a>
            <a id="legal_notic_sidebar" class="menu-link" href="legal_notice.html">
                <span class="menu-button">Legal Notice</span>
            </a>
            <a class="menu-link" onclick="hideMenu()">
                <span class="menu-button">Back</span>
            </a>
        </div>
    </nav>

</body>

</html>