<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/sidebar.css">
    <link rel="stylesheet" href="css/fonts.css">
</head>

<nav class="side-bar">
    <img class="join-logo" src="assets/img/join_logo.png">
    <div class="side-bar-menu-container">
        <a id="summary" href="summary.html" class="justify-sidebar-menu">
            <img src="assets/img/summary_img.png" class="side-bar-image">
            <p class="sidebar-text">Summary</p>
        </a>
        <a id="board" href="board.html" class="justify-sidebar-menu">
            <img src="assets/img/board_img.png" class="side-bar-image">
            <p class="sidebar-text">Board</p>
        </a>
        <a id="tasks" href="add_task.html" class="justify-sidebar-menu">
            <img src="assets/img/add_task.png" class="side-bar-image">
            <p class="sidebar-text">Add Task</p>
        </a>
        <a id="contacts" href="contacts.html" class="justify-sidebar-menu">
            <img src="assets/img/contacts_img.png" class="side-bar-image">
            <p class="sidebar-text">Contacts</p>
        </a>
    </div>
    <div class="justify-sidebar-menu-notice legal-notice">
        <a id="legalNotice" href="legal_notice.html" class="justify-sidebar-menu">
            <img id="legal_notice_img" src="assets/img/legal_notice.svg" class="side-bar-image">
            <p class="sidebar-text">Legal notice</p>
        </a>
    </div>
</nav>

</html>